/* paleo-ground-beef-and-cabbage-style.css */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header,
.title,
div {
    text-align: center;
}

.header {
    background-color: black;
    color: white;
}

.title {
    background-color: grey;
}